.headersection{
    display: flex;
    height: 100px;
    border: 4px solid black;
    background-color: rgb(129, 129, 129);
    padding: 20px;
    align-items: center;
}

/* header section css code*/

.headerdiv{
    border: 2px solid black;
    background-color: blue;
    height: 100px;
    width: 20%;
}
.linkitem{
    display: inline-block;
    border: 5px solid black;
    background-color: aqua;
    padding: 20px;
}
ul{
    display :flex;
    list-style-type: none;
    gap: 2rem;

}
.navbar{
    margin-left: 200px;
}

/* main section css code*/

.mainsection{
    display: flex;
    height: 400px;
    border: 4px solid black;
    background-color: rgb(129, 129, 129);
    padding: 20px;
}
.maindivleft{
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 30%;
    padding: 10px;
}
.leftup{
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    background-color: aqua;
    width: auto;
    height: 50%;
}
.leftdown{
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    background-color: aqua;
    width: auto;
    height: 50%;
}
.maindivright{
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 70%;
    padding: 10px;
}
.rightup{
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    background-color: aqua;
    width: auto;
    height: 50%;
}
.rightdown{
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    background-color: aqua;
    width: auto;
    height: 50%;
}
.footersection{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
     background-color: rgb(129, 129, 129);
     height: 100px;
}
.footerbox{
    background-color: aqua;
    border: 2px solid black;
    height: 70%;
    width: 90%;
    margin: 10px;
}