.maindiv{
    justify-items: center;
    padding: 10px;
}
.section1{
    height: 85%;
    width: 70%;
    border: 4px solid black;
    background-color: lightgray;
    padding-bottom: 10px;
}
.subsection1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 100%;
}
.boxupper{
    background-color: rgb(117, 117, 117);
    border: 4px solid black;
    height: 70%;
    width: 17%;
    margin: 10px;
}
 img{
    height: 100%;
    width: 100%;
}
.namebox{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
.textbox{
    height: 15px;
    width: 150px;
    border: 3px solid black;
     background-color: rgb(117, 117, 117);
     border-radius: 5px;
}